{% extends 'layouts/base.twig' %}
{% set title= 'Accueil' %}

{% block content %}
  <div class="container row">
    <ul>
      <li>
        Users
      </li>
      <li>
        Jeu
      </li>
      <li>
        Contact
      </li>
    </ul>
  </div>
{% endblock %}
