{% extends 'layouts/base.twig' %}
{% set title= 'Utilisateurs' %}

{% set arr=['Pier', 'Pol', 'Jack'] %}

{% block content %}

<div class="container">
  
  <ul>
    {% for arru in arr %}
    <li>
      {{ arru }}
    </li>
    {% endfor %}
  </ul>
  
  <hr>
  
  Le staff est composé de {{ arr | join(', ', ' & ') }}.
  
</div>

{% endblock %}
