{% extends 'layouts/base.htm' %}
{% set title= 'Users' %}

{% block content %}

Salut, {{ firstname }}.
<hr>

<ul>
  {% for arru in arr %}
  <li>
    {{ arru }}
  </li>
  {% endfor %}
</ul>

<hr>

{{ arr | join(', ', ' & ') }}

<hr>

{% endblock %}

