body {
  font-family: Comic Sans MS, sans-serif;
}

nav {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  text-align: center;
  font-family: arial;
  width: 100%;
  justify-content: center;
}

a {
  display: flex;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid gray;
  padding: 7px 10px;
  margin: 10px 5px;
  border-radius: 7px;
  background-color: rgb(246, 246, 234);
  transition: 1s ease-in-out;
  box-shadow: -1px 2px 5px grey;
  align-items: center;
}

a:hover {
  text-shadow: -1px 1px 10px red;
  background-color: yellow;
  transition: 1s ease-in-out;
}

main {
  background-color: rgba(246, 246, 234, .5);
  margin: 30px 30px;
  border: 2px solid gold;
  padding: 0 30px 20px;
  box-shadow: -2px 3px 10px grey;
  border-radius: 12px;
}
.ar {
  display: block;
  text-align: right;
}
